

<div class="container border p-4 shadow">
    <h3 class="text-center"> Update Job</h3>

    <form action="/update-job" method="POST">

<input type="hidden" class="form-control" id="id" name="id" value="<%=job.id%>">

        <div class="mb-3">
            <label class="form-label">Job Category</label>
            <select name="field" class="form-select" value="<=%job.field %>" required>
                <option value="Tech">Tech</option>
                <option value="Non Tech">Non Tech</option>
            </select>
        </div>
  
        <div class="mb-3">
            <label class="form-label">Job Designation</label>
            <select name="position" class="form-select" value="<%= job.position %>" required>
                <option value="">Select Job Designation</option>
                <option value="HR">HR</option>
                <option value="SDE">SDE</option>
                <option value="DevOps">DevOps</option>
                <option value="MERN Developer">MERN Developer</option>
                <option value="MEAN Developer">MEAN Developer</option>
                <option value="JAVA Developer">JAVA Developer</option>
                <option value="Front-End Developer">Front-End Developer</option>
                <option value="Back-End Developer">Back-End Developer</option>
                <option value="Full-Stack Developer">Full-Stack Developer</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Job Location</label>
            <input type="text" class="form-control" name="address"  value="<%= job.address %>" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Company Name</label>
            <input type="text" class="form-control" name="companyName"  value="<%= job.companyName %>" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Salary</label>
            <input type="text" class="form-control" name="salary" min="1" value="<%= job.salary %>" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Total Positions</label>
            <input type="number" class="form-control" name="openings" id="totalPositions" min="1" value=" <%= job.openings %>" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Select Required Skills</label>
            <div class="form-check">
                <input class="form-check-input" id= "React" type="checkbox" name="skills[]" value="React">
                <label class="form-check-label" for= "React">React</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id= "NodeJS" type="checkbox" name="skills[]" value="NodeJS">
                <label class="form-check-label" for= "NodeJS">NodeJS</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id= "Angular" type="checkbox" name="skills[]" value="Angular">
                <label class="form-check-label" for="Angular">Angular</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="Python" type="checkbox" name="skills[]" value="Python">
                <label class="form-check-label" for="Python">Python</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="Java" type="checkbox" name="skills[]" value="Java">
                <label class="form-check-label" for="Java">Java</label>
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Apply By</label>
            <input type="text" class="form-control" name="applyDate"  value="<%= job.applyDate %>" required>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Update Job</button>
    </form>
</div>



